{% extends 'base.html.twig' %}

{% block title %}Hello SecurityController!{% endblock %}

{% block body %}
    {% if error %}
        <div class="alert alert-danger animated bounceInDown">
            {{ error.messageKey|trans(error.messageData,'security') }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}

    <h3>{{ 'login'|trans }}</h3>
    <form action="{{ path('app_security_login') }}" method="post" class="form">
        <div class="row">
            <div class="form-group col-md-5">
                <label for="username" class="sr-only">Identifiant</label>
                <input type="text" class="form-control" id="username" name="_username" value="{{ lastUsername }}"
                       placeholder="{{ 'identifiant'|trans }}"/>
            </div>
            <div class="form-group col-md-5">
                <label for="password" class="sr-only">Mot de passe</label>
                <input type="password" class="form-control" id="password" name="_password"
                       placeholder="{{ 'mdp'|trans }}"/>
            </div>
            {# <input type="hidden" name="_target_path" value="/apres-login" /> #}
            <button type="submit" class="btn btn-primary mb-3">Connexion</button>
        </div>
{#        <a href="{{ path('app_security_resetpassword') }}">{{ 'forget.password'|trans }}</a>#}
    </form>
{% endblock %}
