{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    {% if error %}
        <div class="alert alert-danger animated bounceInDown">
            {{ error.messageKey|trans(error.messageData,'security') }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}

    <div class="text-center mt-5">
        <form ction="{{ path('app_security_login') }}" method="post" class="form-signin">
            <img class="mb-4" src="{{ asset('assets/img/logo_MVDS.PNG') }}" alt="" width="auto" height="300">
            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
            <label for="username" class="sr-only">Email address</label>
            <input type="text" id="username" class="form-control" placeholder="Username" value="{{ lastUsername }}"
                   name="_username" required autofocus>
            <label for="password" class="sr-only">Password</label>
            <input type="password" id="password" class="form-control" placeholder="Password" name="_password" required>
            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            <p class="mt-5 mb-3 text-muted">&copy; 2019-{{ date('now')|date('Y') }}</p>
        </form>
    </div>
{% endblock %}
