{{ form_start(form) }}
    {{ form_row(form.descriptif) }}
    {{ form_row(form.atteint) }}
    {{ form_row(form.tireur) }}

<button class="btn btn-success mb-1">{{ button_label|default('enregistrer') }}</button>
{{ form_end(form) }}
