{% extends 'base.html.twig' %}

{% block title %}Objectif{% endblock %}

{% block body %}
    <h1>Objectif</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Descriptif</th>
                <th>Fixé par</th>
                <th>Pour</th>
                <th>Atteint</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for objectif in objectifs %}
            <tr>
                <td>{{ objectif.descriptif }}</td>
                <td>{{ objectif.createdBy.lastName }} {{ objectif.createdBy.firstName }}</td>
                <td>{{ objectif.tireur.lastName }} {{ objectif.createdBy.firstName }}</td>
                <td>{{ objectif.atteint ? 'Oui' : 'Non' }}</td>
                <td>
                    <a class="text text-primary" href="{{ path('objectif_show', {'id': objectif.id}) }}"><i class="fas fa-eye"></i></a>
                    <a class="text text-info " href="{{ path('objectif_edit', {'id': objectif.id}) }}"><i class="far fa-edit"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">aucune informations</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('objectif_new') }}">Créer un objectif</a>
{% endblock %}
