{% extends 'base.html.twig' %}

{% block title %}Tireur index{% endblock %}

{% block body %}
    <h1>Tireur</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Email</th>
                <th>Téléphone</th>
                <th>Identifiant</th>
                <th>Groupe</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tireur in tireurs %}
            <tr>
                <td>{{ tireur.lastName }}</td>
                <td>{{ tireur.firstName }}</td>
                <td>{{ tireur.email }}</td>
                <td>{{ tireur.phone }}</td>
                <td>{{ tireur.username }}</td>
                <td>{{ tireur.groupe }}</td>
                <td>
                    <a class="text text-primary" href="{{ path('tireur_show', {'id': tireur.id}) }}"><i class="fas fa-eye"></i></a>
                    <a class="text text-info" href="{{ path('tireur_edit', {'id': tireur.id}) }}"><i class="fas fa-edit"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="14">aucune informations</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('tireur_new') }}">Ajouter un tireur</a>
{% endblock %}
