{% extends 'base.html.twig' %}

{% block title %}Mes Inscriptions{% endblock %}

{% block body %}
    <h1>{{ block('title') }}</h1>
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>Id</th>
                <th>Date début</th>
                <th>Date fin</th>
                <th>Blason</th>
                <th>Arme</th>
                <th>Civ</th>
                <th>Categorie</th>
                <th>Classement</th>
            </tr>
            </thead>
            <tbody>
            {% for inscription in pagination %}
                <tr>
                    <td>{{ inscription.competition.id }}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    {#                    <td>{{ inscription.competition.jourCompetition.dateTimeStart ? competition.jourCompetition.dateTimeStart|date('Y-m-d H:i:s') : '' }}</td>#}
                    {#                    <td>{{ inscription.competition.jourCompetition.dateTimeEnd ? competition.jourCompetition.dateTimeEnd|date('Y-m-d H:i:s') : '' }}</td>#}
                    {#                    <td>{{ inscription.competition.blason.grade }}</td>#}
                    {#                    <td>{{ inscription.competition.arme.name }}</td>#}
                    {#                    <td>{{ inscription.competition.getCiv|join(', ') }}</td>#}
                    {#                    <td>{{ inscription.competition.categorie.name }}</td>#}
                    <td><a href="{{ path('app_competition_saisieclassement', {'id': inscription.id}) }}">Classement</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td>
                        no records found
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>


    <a href="{{ path('app_competition_registration') }}">S'inscrire à une compétition</a>
{% endblock %}
