{% extends 'base.html.twig' %}

{% block title %}Competition{% endblock %}

{% block body %}
    <h1>Competition</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ competition.id }}</td>
        </tr>
        <tr>
            <th>DateTimeStart</th>
            <td>{{ competition.dateTimeStart ? competition.dateTimeStart|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        <tr>
            <th>DateTimeEnd</th>
            <td>{{ competition.dateTimeEnd ? competition.dateTimeEnd|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        </tbody>
    </table>
    <br/>
    <h3>Type competition</h3>
    <table class="table">
        <tbody>
        {% for typeCompetition in competition.typeCompetitions %}

            <tr>
                <td>{{ typeCompetition.arme }}</td>
                <td>{{ typeCompetition.blason }}</td>
                <td>{{ typeCompetition.civ ? typeCompetition.civ|join(', ') : '' }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('competition_index') }}">back to list</a>

    <a href="{{ path('competition_edit', {'id': competition.id}) }}">edit</a>

    {{ include('competition/_delete_form.html.twig') }}
{% endblock %}
