{% extends 'base.html.twig' %}

{% block title %}MaitreArmes index{% endblock %}

{% block body %}
    <h1>Maitres d'Armes</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Date de naissance</th>
            <th>Email</th>
            <th>Téléphone</th>
            <th>Identifiant</th>
            <th>Handisport</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for maitre_arme in maitre_armes %}
            <tr>
                <td>{{ maitre_arme.lastName }}</td>
                <td>{{ maitre_arme.firstName }}</td>
                <td>{{ maitre_arme.dtBirthday ? maitre_arme.dtBirthday|date('Y-m-d') : '' }}</td>
                <td>{{ maitre_arme.email }}</td>
                <td>{{ maitre_arme.phone }}</td>
                <td>{{ maitre_arme.username }}</td>
                <td>{{ maitre_arme.handisport ? 'Yes' : 'No' }}</td>
                <td>
                    <a class="text text-primary" href="{{ path('maitre_armes_show', {'id': maitre_arme.id}) }}"><i
                                class="far fa-eye"></i></a>
                    <a class="text text-info" href="{{ path('maitre_armes_edit', {'id': maitre_arme.id}) }}"><i
                                class="far fa-edit"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('maitre_armes_new') }}">Ajouter un maitre</a>
{% endblock %}
