{% extends 'base.html.twig' %}

{% block title %}MaitreArmes{% endblock %}

{% block body %}
    <h1>Maitre d'Armes</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Prénom</th>
                <td>{{ maitre_arme.firstName }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ maitre_arme.lastName }}</td>
            </tr>
            <tr>
                <th>Date de naissance</th>
                <td>{{ maitre_arme.dtBirthday ? maitre_arme.dtBirthday|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ maitre_arme.email }}</td>
            </tr>
            <tr>
                <th>Téléphone</th>
                <td>{{ maitre_arme.phone }}</td>
            </tr>
            <tr>
                <th>Crée le</th>
                <td>{{ maitre_arme.createdAt ? maitre_arme.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Identifiant</th>
                <td>{{ maitre_arme.username }}</td>
            </tr>
            <tr>
                <th>Handisport</th>
                <td>{{ maitre_arme.handisport ? 'Oui' : 'Non' }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary mb-1" href="{{ path('maitre_armes_index') }}">retour à la liste</a>

    <a class="btn btn-info" href="{{ path('maitre_armes_edit', {'id': maitre_arme.id}) }}"><i class="far fa-edit"></i></a>

    {{ include('maitre_armes/_delete_form.html.twig') }}
{% endblock %}
