{{ form_start(form) }}
    {{ form_row(form.dateTimeStart) }}
    {{ form_row(form.dateTimeEnd) }}
    {{ form_row(form.groupes) }}
<div style="text-align: right">
    <button class="btn btn-primary" type="submit">Valider</button>
</div>
{{ form_end(form) }}
