{% extends 'base.html.twig' %}

{% block title %}Entraînements{% endblock %}

{% block body %}
    <h1>Entraînements</h1>

    {% set token = csrf_token('delete_entrainement') %}

    {% if app.user %}
        <a class="btn btn-primary mb-2" href="{{ path('app_entrainement_new') }}">Ajouter un nouvel entraînmement</a>
        <a class="btn btn-primary mb-2"
           href="{{ path('app_entrainement_newyear') }}">Ajouter un entraînement pour l'année</a>
    {% endif %}
    <table class="table">
        <thead>
        <tr>
            {#<th>id</th>#}
            <th>Début</th>
            <th>Fin</th>
            <th>Groupes</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for entrainement in entrainements %}
            <tr>
                {#<td>{{ entrainement.id }}</td>#}
                <td>{{ entrainement.dateTimeStart ? entrainement.dateTimeStart|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ entrainement.dateTimeEnd ? entrainement.dateTimeEnd|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <ul>
                        {% for groupe in entrainement.groupes %}
                            <li>{{ groupe.name }}</li>
                        {% else %}
                            Il n'y a pas de groupes pour cet entraînement.
                        {% endfor %}
                    </ul>
                </td>
                <td>
                    <a class="btn btn-info"
                       href="{{ path('app_entrainement_show', {'id': entrainement.id}) }}">Afficher</a>
                    |
                    <a class="btn btn-info"
                       href="{{ path('app_entrainement_edit', {'id': entrainement.id}) }}">Modifier</a>
                    |
                    <a class="btn btn-danger"
                       href="{{ path('app_entrainement_delete', {'id': entrainement.id, 'token': token}) }}">Supprimer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Il n'y a pas d'entraînements pour le moment.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
