{% extends 'base.html.twig' %}

{% block title %}{{ 'title.entrainement.create'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'title.entrainement.create'|trans }}</h1>

    {{ include('entrainement/_formYear.html.twig') }}

    <a class="btn btn-info mt-2" href="{{ path('app_entrainement_index') }}">{{ 'back.list'|trans }}</a>
{% endblock %}
