{% extends 'base.html.twig' %}

{% block title %}Entraînements{% endblock %}

{% block body %}
    <h1>Entraînements</h1>

    {% set token = csrf_token('delete_entrainement') %}

    <table class="table">
        <tbody>
        <tr>
            <th>Début</th>
            <td>{{ entrainement.dateTimeStart ? entrainement.dateTimeStart|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        <tr>
            <th>Fin</th>
            <td>{{ entrainement.dateTimeEnd ? entrainement.dateTimeEnd|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        <tr>
            <th>Groupes</th>
            <td>
                <ul>
                    {% for groupe in entrainement.groupes %}
                        <li>{{ groupe.name }}</li>
                    {% else %}
                        Aucun groupe n'est affilié à cet entraînement pour le moment.
                    {% endfor %}
                </ul>
            </td>
        </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('app_entrainement_index') }}">Tous les entrainements</a>
    <a class="btn btn-primary" href="{{ path('app_entrainement_mesentrainements') }}">
        {% if is_granted('ROLE_ADMIN') %}
            Les entrainements finis
        {% else %}
            Mes entrainements finis
        {% endif %}
    </a>

    {% if is_granted('ROLE_SUPER_ADMIN') %}

        <a class="btn btn-info"
           href="{{ path('app_entrainement_edit', {'id': entrainement.id}) }}">Modifier</a>

        <a href="{{ path('app_entrainement_delete', {'id': entrainement.id, 'token': token}) }}"
           class="btn btn-danger">Supprimer</a>

    {% endif %}

{% endblock %}
