{% extends 'base.html.twig' %}

{% block title %}{{ 'title.entrainement.index'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'title.entrainement.index'|trans }}</h1>

    {% set token = csrf_token('delete_entrainement') %}

    {% if app.user %}
        <a class="btn btn-primary mb-2" href="{{ path('app_entrainement_new') }}">{{ 'button.create'|trans }}</a>
        <a class="btn btn-primary mb-2"
           href="{{ path('app_entrainement_newyear') }}">{{ 'button.createYear'|trans }}</a>
    {% endif %}
    <a href="{{ path('app_entrainement_index') }}" class="btn btn-primary mb-2">{{ 'button.list'|trans }}</a>
    <table class="table">
        <thead>
        <tr>
            <th>id</th>
            <th>{{ 'entrainement.datetimestart.label'|trans }}</th>
            <th>{{ 'entrainement.datetimeend.label'|trans }}</th>
            <th>{{ 'entrainement.groupes'|trans }}</th>
            <th>{{ 'action'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% dump entrainements %}
        {% for entrainement in entrainements %}
            <tr>
                <td>{{ entrainement.id }}</td>
                <td>{{ entrainement.dateTimeStart ? entrainement.dateTimeStart|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ entrainement.dateTimeEnd ? entrainement.dateTimeEnd|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <ul>
                        {% for groupe in entrainement.groupes %}
                            <li>{{ groupe.name }}</li>
                        {% else %}
                            {{ 'entrainement.noYet'|trans }}
                        {% endfor %}
                    </ul>
                </td>
                <td>
                    <a class="btn btn-info"
                       href="{{ path('app_entrainement_showmembers', {'id': entrainement.id}) }}">{{ 'button.show'|trans }}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">{{ 'no.entrainement.yet'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
