<a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
    <i class="fas fa-bars"></i>
</a>
<nav id="sidebar" class="sidebar-wrapper">
    <div class="sidebar-content">
        <div class="sidebar-brand">
            <a href="{{ path('app_default_index') }}">CEMVS</a>
            <div id="close-sidebar">
                <i class="fas fa-times"></i>
            </div>
        </div>
        <div class="sidebar-header">
            <img src="{{ asset('assets/img/logo_MVDS.PNG') }}" alt="Logo" width="150">
        </div>
        <div class="sidebar-header">
            <a href="{{ path('app_profile_edit') }}">
                <div class="user-pic">
                    <img class="img-responsive img-rounded"
                         src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg"
                         alt="User picture">
                </div>
                <div class="user-info">
                  <span class="user-name">{{ app.user.firstName }}
                    <strong>{{ app.user.lastName }}</strong>
                  </span>
                    <span class="user-role">{% if app.user.groupe is defined %}{{ app.user.groupe.name }}{% else %}{{ app.user.roles[0] }}{% endif %}</span>
                    <span class="user-status">
                        <i class="fa fa-circle"></i>
                        <span>Online</span>
                    </span>
                </div>
            </a>
        </div>
        <!-- sidebar-search  -->
        <div class="sidebar-menu">
            <ul>
                <li class="header-menu">
                    <span>Général</span>
                </li>
                <li class="sidebar-dropdown">
                    <a href="#">
                        <i class="fas fa-trophy"></i>
                        <span>Compétition</span>
                    </a>
                    <div class="sidebar-submenu">
                        <ul>
                            {% if is_granted('ROLE_ADMIN') %}
                                <li>
                                    <a href="{{ path('competition_index') }}">Liste des compétitions</a>
                                </li>
                            {% elseif is_granted('ROLE_TIREUR') %}
                                <li>
                                    <a href="{{ path('app_competition_registration') }}">S'inscrire à une
                                        compétition</a>
                                </li>
                                <li>
                                    <a href="{{ path('app_competition_registed') }}">Mes inscriptions</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </li>
                <li class="sidebar-dropdown">
                    <a href="#">
                        <i class="fas fa-running"></i>
                        <span>Entraînements</span>
                        {#<span class="badge badge-pill badge-danger">3</span>#}
                    </a>
                    <div class="sidebar-submenu">
                        <ul>
                            <li>
                                <a href="{{ path('app_entrainement_today') }}">Entraînements du jour</a>
                            </li>
                            <li>
                                <a href="{{ path('app_entrainement_mesentrainements') }}">Mes Entraînements finis</a>
                            </li>
                            <li>
                                <a href="{{ path('app_entrainement_index') }}">Tous les entraînements</a>
                            </li>
                            <li>
                                <a href="{{ path('app_lecon_index') }}">Mes leçons</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="sidebar-dropdown">
                    <a href="#">
                        <i class="fas fa-users"></i>
                        <span>Groupe</span>
                    </a>
                    <div class="sidebar-submenu">
                        <ul>
                            <li>
                                <a href="{{ path('groupe_index') }}">Liste des groupes</a>
                            </li>
                            {% if is_granted('ROLE_ADMIN') %}
                            <li>
                                <a href="{{ path('groupe_new') }}">Ajouter un groupe</a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </li>
                <li class="sidebar-dropdown">
                    <a href="#">
                        <i class="far fa-check-square"></i>
                        <span>Objectif</span>
                    </a>
                    <div class="sidebar-submenu">
                        <ul>
                            <li>
                                <a href="{{ path('objectif_index') }}">Liste des objectifs</a>
                            </li>
                            <li>
                                <a href="{{ path('objectif_new') }}">Ajouter un objectifs</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <!-- sidebar-menu  -->
    </div>
    <!-- sidebar-content  -->
    <div class="sidebar-footer">
        {#        <a href="#">#}
        {#            <i class="fa fa-bell"></i>#}
        {#            <span class="badge badge-pill badge-warning notification">3</span>#}
        {#        </a>#}
        {#        <a href="#">#}
        {#            <i class="fa fa-envelope"></i>#}
        {#            <span class="badge badge-pill badge-success notification">7</span>#}
        {#        </a>#}
        {#        <a href="#">#}
        {#            <i class="fa fa-cog"></i>#}
        {#            <span class="badge-sonar"></span>#}
        {#        </a>#}
        <a href="{{ path('logout') }}">
            <i class="fa fa-power-off"></i>
        </a>
    </div>
</nav>